{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load to_space %}

{% block nav-about %}active{% endblock %}

{% block title %}
    Glass Plates Inventory
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">
        
        <div class="newsidebar d-none d-sm-none d-md-block col-lg-3 col-md-3 col-12">
        </div>

        <div class="col-sm-12 col-md-9 offset-md-3" id="content">
            <div class="mainstuff">
                <h1>About the Glass Plates Inventory</h1>

                <p>The value of astronomical photographic glass plates is incalculable.  Though it seems static to the untrained eye, the night sky is always changing; stars become dimmer and brighter, nebulae drift through space, stars are born and die.  The night sky is never 100% the same from night to night and without photographic records these changes cannot be captured and studied.  CCD photography has revolutionized astronomy in the last several decades allowing us to capture digital images of the sky and track stars over time.  Photographic glass plates were used to capture images of the stars for over a century before the first CCD was invented, and using this older data to track a star's life over the course of 100+ years is extremely valuable to the scientific community.</p>

                <p>There are millions of astronomical photographic glass plates in various observatories, archives, and libraries around the world, and recently there have been large efforts to digitize these plates and make their data available.  However, much of the focus of existing online databases have been on the astronomical uses of the plates, without thought to their historic, artistic, or intrinsic value.  Additionally, existing sites present their information using older web standards, such as full HTML table outputs on webpages, rather than using APIs and JSON formats.</p>

                <p>This website was designed and developed as a capstone project, in partial fulfillment of the requirements for a Master of Liberal Arts, Digital Media Design degree from the Harvard Extenstion School.  The goal of my capstone project is to build an online inventory of astronomical photographic glass plates that puts the information into both a machine readable API and a human browsable interface.  The focus of the site is on enhancing plate discoverability, for both astronomical and historical purposes.  The website described in this document is meant to be a proof-of-concept; scaling up the project to organize and maintain metadata on millions of plates across several dozen archives is out of scope for my capstone project.  Instead, I showcase updated features on a subset of a few thousand plates, demonstrating what can be done using modern web application methods.</p>

                <p>The Glass Plate Inventory (GPI) site is built using modern website and web application technologies, such as Django and Python.  Instead of defaulting to a SQL database, the GPI is based in a noSQL database, which allows for flexible data storage and fast retrieval. Many existing plate archives capture different types of information and metadata about their plates, so using a NoSQL has been especially beneficial as I was not required to impose a standard data structure.</p>

                <p>Each plate has its own "page" generated by pulling information from the database via an API GET request. This also allows each plate to have a unique URL that can be used to link back to that plate.  The API feature also allows users to search across the full database of the GPI and import that data into their own systems and tools.</p>

                <p>As for content, my new Glass Plates Inventory allows users to capture and expose information about the condition of the plates, not just astronomical information such as the location of the plate on the sky, exposure length, and date.  Where available, this additional metadata includes the type of photographic emulsion, plate brand and manufacturing location, whether the plate is broken or scratched, if it has been mended, if it has writing on it and who did the writing (if available), if the plate was out of focus, or had trails due to poor tracking, etc.</p>

            </div>
        </div>
    </div>
</div>


{% endblock %}