{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pg metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'website/img/favicon.png' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Lora&family=Merriweather&family=Nunito:wght@300&display=swap" rel="stylesheet"> 

    <!-- additional css -->
    <link href="{% static 'website/css/site.css' %}" rel="stylesheet">
    
    <!-- pg title -->
    <title>Glass Plates Inventory</title>

</head>

<body>


        <div class="container-fluid vh-100">
            <div class="row" style="height:100%">
                <div class="col-12 offset-md-2 col-md-8 third">
                        <div class="mt-5 d-flex justify-content-center">
                            <div class="sitetitle" style="width:80%">
                                <p class="text-center main_color maincontent"><strong>Glass Plates Inventory</strong></p>
                            </div>
                        </div>

<!--                         <div class="mt-3 d-flex justify-content-center">
                            <div class="sitetag" style="width:80%">
                                <p class="text-center main_color maincontent"><strong>a historic record of the night sky</strong></p>
                            </div>
                        </div> -->

                        <div class="mt-5 d-flex justify-content-center">
                            <div class="center indexcontent" style="width:80%">
                                <p class="text-center main_color maincontent">
                                    Photographic glass plates were used to capture images of the stars for over a century before the first CCD was invented.  This site collects plate information from disparate sources that catalog astronomical photographic glass plates an enables searching across all of these collections.  The goal is to empower everyone, from astronomers to historians to artists, to find photographic glass plates for their work and research.
                                </p>
                            </div>
                        </div>

                        <div class="mt-3 d-flex justify-content-center mb-10">
                            <div style="width:80%">

                                <div class="row">
                                    <div class="col-12 col-sm-4 centered my-3">
                                        <a href="/archives"><button type="button" class="btn btn-primary btn-lg btn-block">Archives</button></a>
                                    </div>
                                    <div class="col-12 col-sm-4 centered my-3">
                                        <a href="/search"><button type="button" class="btn btn-primary btn-lg btn-block">Search</button></a>
                                    </div>
                                    <div class="col-12 col-sm-4 centered my-3">
                                        <a href="/api"><button type="button" class="btn btn-primary btn-lg btn-block">API</button></a>
                                    </div>
                                    <div class="col-12 col-sm-4 centered my-3">
                                        <a href="/guides"><button type="button" class="btn btn-primary btn-lg btn-block">Guides</button></a>
                                    </div>
                                    <div class="col-12 col-sm-4 centered my-3">
                                        <a href="/about"><button type="button" class="btn btn-primary btn-lg btn-block">About</button></a>
                                    </div>
                                    <div class="col-12 col-sm-4 centered my-3">
                                        <a href="/contact"><button type="button" class="btn btn-primary btn-lg btn-block">Contact</button></a>
                                    </div>


                                </div>
                            </div>
                        </div>
                </div>
            </div>

</body>
</html>