{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pg metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'website/img/flavicon.png' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--     <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Nunito:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Merriweather&family=Nunito:wght@300&display=swap" rel="stylesheet"> 

    <!-- additional css -->
    <link href="{% static 'website/css/site.css' %}" rel="stylesheet">
    
    <!-- pg title -->
    <title>Glass Plates Inventory</title>

</head>

<body>


        <div class="container-fluid vh-100">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar-index navbar-index navbar-expand-lg navbar-light bg-dark">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="navbar-nav ml-auto">

                                    <li class="nav-item">
                                        <a class="nav-link sr-only sr-only-focusable" href="#content">Skip to main content</a>
                                    </li>
                                    <li class="nav-item {% block nav-docs %}{% endblock %}">
                                        <a class="nav-link" href="/documentation">Documentation</a>
                                    </li>
                                    <li class="nav-item {% block nav-resources %}{% endblock %}">
                                        <a class="nav-link" href="/about">About</a>
                                    </li>
                                    <li class="nav-item {% block nav-contact %}{% endblock %}">
                                        <a class="nav-link" href="/contact">Contact</a>
                                    </li>
                                </ul>          

                             </div>
                        </div>
                    </nav>
                </div>
            </div>




            <div class="row pt-2" style="height:90%">
                <div class="col-12 offset-md-2 col-md-8 third">
                        <div class="mt-5 d-flex justify-content-center">
                            <div class="sitetitle" style="width:80%">
                                <p class="text-center main_color maincontent"><strong>Glass Plates Inventory</strong></p>
                            </div>
                        </div>

                        <div class="mt-3 d-flex justify-content-center">
                            <div class="sitetag" style="width:80%">
                                <p class="text-center main_color maincontent"><strong>Finding Astronomical Glass Plates</strong></p>
                            </div>
                        </div>

                        <div class="mt-3 d-flex justify-content-center">
                            <div class="center indexcontent" style="width:80%">
                                <p class="text-center main_color maincontent">
                                    Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim. Ut porttitor leo a diam sollicitudin. Turpis in eu mi bibendum neque egestas congue quisque egestas. Viverra adipiscing at in tellus integer.
                                </p>
                            </div>

                        </div>

                        <div class="mt-3 d-flex justify-content-center mb-10">
                            <div style="width:80%">

                                <div class="row my-5">
                                    <div class="col-12 mb-3 mb-md-0 col-sm-4 centered">
                                        <a href="/archives"><button type="button" class="btn btn-primary btn-lg btn-block">Archives</button></a>
                                    </div>
                                    <div class="col-12 mb-3 mb-md-0 col-sm-4 centered">
                                        <a href="/search"><button type="button" class="btn btn-primary btn-lg btn-block">Search</button></a>
                                    </div>
                                    <div class="col-12 col-sm-4 centered">
                                        <a href="/api"><button type="button" class="btn btn-primary btn-lg btn-block">API</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>



<!--     <div class="row fixed-bottom mainfooter">
        <div class="col-12">
            <div id="footer">
              <div class="container text-center">
                <br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                <br/>&nbsp;
              </div>
            </div>
        </div>
    </div>
 -->


</body>
</html>