{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pg metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'website/img/flavicon.png' %}">

    <!-- additional css -->
    <link href="{% static 'website/css/site.css' %}" rel="stylesheet">
    
    <!-- pg title -->
    <title>Glass Plates Inventory</title>

</head>

<body>


        <div class="container-fluid">
            <div class="row">
                <div class="col-12 index-top">
                    &nbsp;<br>&nbsp;<br>&nbsp;<br>
                    <p class="centered"><a class="navbar-brand" href="/"><span class="h1">Glass Plates Inventory</span></a></p>
                    &nbsp;<br>&nbsp;<br>
                </div>
                <div class="col-12 index-top">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarResponsive">

                                <ul class="navbar-nav ml-auto">

                                    <li class="nav-item">
                                        <a class="nav-link sr-only sr-only-focusable" href="#content">Skip to main content</a>
                                    </li>
                                    <li class="nav-item {% block nav-resources %}{% endblock %}">
                                        <a class="nav-link" href="/about">About</a>
                                    </li>
                                    <li class="nav-item {% block nav-contact %}{% endblock %}">
                                        <a class="nav-link" href="/contact">Contact</a>
                                    </li>
                                    
                                    {% if request.user.is_authenticated %}

                                        <li class="nav-item dropdown {% block nav-lout %}{% endblock %}">
                                            <a class="nav-link dropdown-toggle" href="/account" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Account
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="/account">Settings</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/logout">Logout</a>
                                            </div>
                                        </li>
                                    {% endif %}

                                </ul>          

                             </div>
                        </div>
                    </nav>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">

                    &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>


                    <p class="centered"><a href="/collections"><button type="button" class="btn btn-primary btn-lg">Collections</button></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/search"><button type="button" class="btn btn-primary btn-lg">Search</button></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-lg">Import</button>
                    </p>
                    <br>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Glass Plates 101</button>
                    </p>
                </div>
                <div class="col-4">
                </div>
            </div>


                   
            
        </div>


    <br/>
   <!--  <div class="row fixed-bottom mainfooter">
        <div class="col-12">
            <div id="footer">
              <div class="container text-center">
                <br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                <br/>&nbsp;
              </div>
            </div>
        </div>
    </div> -->



</body>
</html>