{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load to_space %}

{% block nav-docs %}active{% endblock %}

{% block title %}
    Glass Plates Inventory
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">
        
        <div class="newsidebar d-none d-sm-none d-md-block col-lg-3 col-md-3 col-12">
        </div>

        <div class="col-sm-12 col-md-9 offset-md-3" id="content">
            <div class="mainstuff">

                <h1>Glass Plates Inventory noSQL Database Primer</h1>

                <p>The first thing to know about the Glass Plates Inventory site is that it uses a noSQL database to store information.  You may be familiar with SQL databases, which can be thought of as a collection of tables or spreadsheets that store a specific set of structured data.  Information in one column of a table might be connected to information in another table, thus creating a relationship between the data in the different tables.  This kind of database is typically very structured, with specific defined fields, and with a specific type of data found in that field.  Adding another field alters the entire table, and if that field is set to be required then all existing entries in the database must be updated to contain content in the new field.
                </p>

                <p/>For example, you may have a database table of DASCH data:</p>


                <p/>And let’s say you want to collect data from multiple archives into one table:</p>


                <p/>Some fields, such as the Archive field in column A, contain very uniform information. This column will always contain the name of the Archive the plate is from.  Additionally, there is a known list of archives in the database, so it might make sense to put that information into its own small table that can be called on from the main table.</p>

                <p/>Now the Archive column lists an ID number:</p>


                <p/>And that ID number is drawn from the Archive Info Table, which can be used to correlate an ID with the archive’s name:</p>

                <p/>Now, each Archive is named only once in the database and that information is referred to by the plate table.  This is a primary feature of SQL and relational databases.</p>

                <p/>Something else you may notice about the above examples is that we have different information from different archives, for example the WFPDB and Hamburg provide information about emulsions, but DASCH does not.  DASCH and Hamburg provide Right Ascension in the hours, minute, seconds format, but WFPDB provides this information as decimal degrees.</p>

                <p/>Though it is possible for an SQL database to handle a dataset like this, if new content is being added to the database over time, tacking on additional columns to handle the unique data provided by each archive could become overwhelming.  SQL databases are fantastic for collecting data about well defined and uniform content.  But sometimes you need to work with a collection of less defined data, data from a variety of sources, data that might be incomplete.  This is where noSQL databases can shine.</p>

                <p/>In a noSQL database, information is stored as a series of JSON documents.  A JSON document is written in a format similar to a python dictionary, or a JavaScript object (in fact JSON stands for JavaScript Object Notation).  A JSON document is made up of a series of key-value pairs written with a specific, yet simple, syntax.</p>

                <p/>For example, to store an identifier about a plate, you could write:</p>

                <pre>{
    "identifier" :  "a1731"
}</pre>

                <p>The value "a1731" is assigned to the key "identifier".</p>

                <p>More information can be added by using a comma to separate each key-value pair, which is sometimes called a dictionary.</p>

                <pre>{
    "identifier" :  "a1731",
    "rightAscension" : "00:07:02.386",
    "declination" : "-89:27:40.89"
}</pre>

                <p>If you had multiple records, you would list sets of dictionaries for each record, like this:</p>

                <pre>{
    "identifier" :  "a1731",
    "rightAscension" : "00:07:02.386",
    "declination" : "-89:27:40.89"
},
{
    "identifier" :  "ac1",
    "rightAscension" : "05:59:51.748",
    "declination" : "+75:29:44.39"
},
{
    "identifier" :  "b853",
    "rightAscension" : "12:09:05.694",
    "declination" : "+88:54:58.55"
}</pre>

                <p>Above, we have records for three plates.  Each record can hold as many key-value pairs as needed, and they can even be nested to provide additional context.  For example:</p>

                <pre>{
"identifier": "mc493",
    "repository": "DASCH",
    "plate_info": {
        "series": "mc",
        "number": "493",
        "plate_class": "L"
    }
}</pre>

                <p>The "series", "number", and "plate_class" keys are nested under the key "plate_info".</p>

                <p>Most importantly, records in a noSQL database do not have to have the same fields across all records.  It’s valuable to have some common fields, and some common data structure, but data found in one record does not have to also exist in another.  New records added to a noSQL database can contain fields that older records do not.  Likewise the new records can leave out fields that are included in the older records.</p>

                <p>That being said, it is still useful to have some general overall structure for the data in a noSQL database to facilitate searching.  Below are the types of information that are required and recommended for inclusion in the Glass Plates Inventory database:</p>

                <p><strong>Required</strong>
                <ul>
                    <li>Record ID (auto generated)</li>
                    <li>identifier</li>
                    <li>archive</li>
                </ul></p>

                <p><strong>Very Strongly Recommended</strong>
                <ul>
                    <li>ra (Right Ascension)</li>
                    <li>dec (Declination)</li>
                    <li>jd2000</li>
                </ul></p>

                <p><strong>Recommended</strong>
                <ul>
                    <li>Number of Exposures (if details about each exposure are not available)</li>
                    <li>duration (of each exposure)</li>
                    <li>instrument</li>
                    <li>notes</li>
                </ul></p>

                <p><strong>Nice to Have</strong>
                <ul>
                    <li>emulsion</li>
                    <li>filter</li>
                    <li>band</li>
                    <li>target</li>
                    <li>observer</li>
                    <li>calendar_date</li>
                </ul></p>

                <p><strong>Extra</strong>
                <ul>
                    <li>plate dimensions</li>
                    <li>(other fields)</li>
                </ul></p>

                <p>Content stored in the Glass Plates Inventory database is organized into three categories: information about the plate itself, information about the observatory and instrument that took the plate, and information about the exposures. All data except the record id (auto generated), the plate identifier, and archive should be included in one of those three categories.</p>

                <p>Following this organizational structure, while not strictly required, facilitates the display of information throughout the Glass Plates Inventory website, as well as increasing searchability and findability.</p>

                <p>More specific information about how glass plate records are organized can be found here.</p>


                <h2>Sample noSQL Database Records</h2>
                <p>((these need to be updated))</p>

                <pre>{
    "_id": "6223ea08bf295e87c9e7f9b8",
    "identifier": "mc493",
    "repository": "DASCH",
    "plate_info": {
        "series": "mc",
        "number": "493",
        "plate_class": "L"
    },
    "exposure_info": [{
        "number": "0",
        "time": {
            "value": "1380",
            "unit": "min"
            },
        "ra": "18:36:07.119",
        "ra_deg": "279.0297",
        "dec": "-24:00:07.88",
        "dec_deg":  "-24.0022",
        "julian_date": "2418884.083"
    }],
    "obs_info": {
        "observatory": "Cambridge",
        "latitude": "42.38",
        "longitude": "71.1292",
        "telescope": "16-inch Metcalf Doublet (Refigured after 3500)",
        "aperture": {
            "value": "0.4",
            "unit": "m"
        },
        "scale": {
            "value": "97.9",
            "unit": "arcsec/nm"
        }
    }
},

{
    "_id": "6223ea08bf295e87c9e7f9bb",
    "identifier": "CA07235z",
    "repository": "Hamburg",
    "plate_info": {
            "emulsion": "Kodak IIIa-F (hyp.-sens.)"
    },
    "exposure_info": [{
        "number": "0",
        "ra": "17:05:04",
        "ra_deg": "256.2667",
        "dec": "-10:07:43",
        "dec_deg": "-10.1286",
        "time": {
            "value": "5",
            "unit": "min"
        },
        "calendar_date": "1989-07-29/30"
    }],
    "obs_info": {
            "telescope": "Calar-Alto-Teleskop"
    }
},

{
    "_id": "6223f01060b6cfeaacac76e0",
    "identifier": "AAO390 001808",
"repository": "WFPDB",
    "exposure_info": [{
        "number": "0",
        "ra": "159.29584",
        "ra_deg": "159.2958",
        "dec": "-27.596945",
        "dec_deg": "-27.5969",
        "coord_quality": null,
        "julian_date": "1980.1370092148954",
        "date_quality": null,
        "time": {
            "value": "5400.0",
            "unit": "sec"
        },
        "target": "ABELL 1060",
        "target_type": "cluster of galaxies"
    }],
    "obs_info": {
            "instrument": "AAO390"
    },
    "plate_info": {
        "emulsion": "IIaO",
        "type": "direct photograph",
        "filter": "UG1",
        "band": "U",
        "width": {
                "value": "25.0",
                "unit": "cm"
        },
        "height": {
            "value": "25.0",
            "unit": "cm"
        },
        "observer": null,
        "notes": "POSITION ANGLE 180; PF2 CORRECTOR",
        "quality": "SEEING 1.5",
        "availability_note": null,
        "digitization_note": null
}
},

{
    "_id": "6237bb906bfb4d7ed5c37502",
    "identifier": "1671",
    "repository": "mmoapc",
    "plate_info": {
            "notes": "Mer+Equ"
    },
    "obs_info": {
        "instrument": "7.5-inch Cooke/Clark refractor",
        "observatory": "Maria Mitchell Observatory"
    },
    "exposure_info": [{
        "number": "0",
        "ra": "0:0:00",
        "ra_deg": "0.0",
        "dec": "0.0",
        "dec_deg": "0.0",
        "calendar_date": "August 03, 1934",
        "time": {
            "value": "10",
            "unit": "min"
        }
    }]
}</pre>


            </div>
        </div>
    </div>
</div>


{% endblock %}