{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav-search %}active{% endblock %}

{% block title %}
    Glass Plates Inventory
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">

        <div class="col-12" id="content">
            <div class="mainstuff">

                <h1>Search for Plates</h1>
                {{repo_emulsion}}
                
                <form action="/search/result" method="get" id="platesearch">
                    <!-- {% csrf_token %} -->
                    <div class="row">
                
                        <div class="col-xl-4 col-lg-6">
                            <fieldset class="half">
                                <legend>Plate Search</legend>

                                <div class="mb-3 row">
                                    <label for="plateid" class="col-sm-4 col-form-label">Plate Identifier</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="plateid" id="plateid">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="archive" class="col-sm-4 col-form-label">Archive / Collection</label>
                                    <div class="col-sm-7">
                                        <select class="form-select" id="repos" name="repos" aria-label="Default select example">
                                            <option value="all" selected>(select a repository)</option>
                                            {% for x in repositories %}
                                                <option value="{{x}}">{{x}}</option>
                                            {% endfor %}           
                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="half">
                                <legend>Output</legend>
                                <div class="mb-3 row">
                                    <label for="date" class="col-sm-4 col-form-label">Number of Results</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" name="num_results" id="num_results" min="1" max="1000" value="50">
                                    </div>
                                    <div class="col-3 col-form-label">
                                        (max 1000)
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="date" class="col-sm-4 col-form-label">Skip</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" name="num_skip" id="num_skip" min="0" max="1000" value="0">
                                    </div>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="plateType" id="html" checked="checked" value="html">
                                    <label class="form-check-label" for="html">HTML</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="plateType" id="csv" value="csv">
                                    <label class="form-check-label" for="csv">CSV (NYI)</label>
                                </div>

                            </fieldset>

                        </div>


                        <div class="col-xl-4 col-lg-6">

                            <fieldset>
                                <legend>Target Search</legend>

                                <div class="mb-3 row">
                                    <label for="date" class="col-sm-4 col-form-label">Date (NYI)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="date">
                                    </div>
                                </div>

                                <fieldset class="nested">
                                    <div class="mb-3 row">
                                        <label for="ra" class="col-sm-4 col-form-label">Right Ascension</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="ra" name="ra" placeholder="h:m:s or decimal degrees">
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="dec" class="col-sm-4 col-form-label">Declination</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="dec" name="dec" placeholder="d:m:s or decimal degrees">
                                        </div>
                                    </div>

                                <div class="centered">- OR -<br/>&nbsp;</div>

                                    <div class="mb-3 row">
                                        <label for="object" class="col-sm-4 col-form-label">Object</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" name="object" id="object">
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="mb-3 row">
                                    <label for="date" class="col-sm-4 col-form-label">Radius</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" name="radius" id="radius" min="1" max="20" value="10">
                                    </div>
                                    <div class="col-5 col-form-label">
                                        (in arcminutes)
                                    </div>
                                </div>

                            </fieldset>
                        </div>


                        <div class="col-xl-4 col-lg-6">
                            <fieldset>
                                <legend>Archive Specific</legend>
                                <div>Fields generated based on selected archive</div>
                                <div id="archive">
                                </div>
                                <!-- <div class="mb-3 row">
                                    <label for="astronomer" class="col-sm-4 col-form-label">Astronomer</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="astronomer">
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Has Notebook</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">Full Scan Available</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">Astrometry Fit</label>
                                </div>

                                <div class="mb-3 row">
                                    <label for="condition" class="col-sm-4 col-form-label">Condition</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="condition">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="emulsion" class="col-sm-4 col-form-label">Emulsion</label>
                                    <div class="col-sm-7">
                                        <select id="emulsiondd" name="emulsiondd" class="form-select" aria-label="Default select example">
                                            <option value="all" selected>(select an emulsion)</option>
                                            {% for x in emulsion %}
                                                <option value="{{x}}">{{x}}</option>
                                            {% endfor %}           
                                        </select>
                                    </div>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="plateType" id="direct" value="direct">
                                    <label class="form-check-label" for="direct">Direct</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="plateType" id="spectral" value="spectral">
                                    <label class="form-check-label" for="spectral">Spectral</label>
                                </div> -->

                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-1">
                            <br/>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

<script>

$("#repos").change( function() {

    // $.ajax({
    //   type: "POST",
    //   url: "/search/find_emulsions",
    //   data: {
    //     'repo': this.value,
    //     csrfmiddlewaretoken: '{{ csrf_token }}'
    //   },
    //   success: function (data) {
    //     output = JSON.parse(data);
    //     $('#emulsiondd').find('option').remove().end()

    //     var opt = document.createElement('option');
    //         opt.value = "all";
    //         opt.text = "all";
    //         emulsiondd.options.add(opt);

    //     for (i=0; i < output.length; i++) {
    //         createOption(emulsiondd, output[i], output[i])
    //     }
    //   }
    // });

    $.ajax({
      type: "POST",
      url: "/search/archive_specific",
      data: {
        'repo': this.value,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        output = data;

        console.log(output)

        $("#archive").html(output)
        // $('#emulsiondd').find('option').remove().end()

        // var opt = document.createElement('option');
        //     opt.value = "all";
        //     opt.text = "all";
        //     emulsiondd.options.add(opt);

        // for (i=0; i < output.length; i++) {
        //     createOption(emulsiondd, output[i], output[i])
        // }
      }
    });



});

function createOption(ddl, text, value) {
  var opt = document.createElement('option');
  opt.value = value;
  opt.text = text;
  ddl.options.add(opt);
}


  
  // Remove empty fields from GET forms
  // Author: Bill Erickson
  // URL: http://www.billerickson.net/code/hide-empty-fields-get-form/
  
    // // Change 'form' to class or ID of your specific form
    // $("#platesearch").submit(function() {
    //     $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
    //     return true; // ensure form still submits
    // });
    
    // // Un-disable form fields when page loads, in case they click back after submission
    // $( "#platesearch" ).find( ":input" ).prop( "disabled", false );
    


</script>

{% endblock %}