{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load to_space %}

{% block nav-collections %}active{% endblock %}

{% block title %}
    Glass Plates Inventory
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">
        
        <div class="newsidebar d-none d-sm-none d-md-block col-lg-3 col-md-3 col-12">
            <strong><a href="https://glassplatesapi.herokuapp.com/{{plate.archive}}/{{plate.identifier}}">View Plate API entry</a></strong>
        </div>

        <div class="col-sm-12 col-md-9 offset-md-3" id="content">
            <div class="mainstuff">

                <h1>{{plate.identifier}}</h1>

                <h2>Plate Information</h2>

                <table class="table">
                    <tr>
                        <th>Archive</th>
                        <td><a href="/archives/{{plate.archive}}">{{plate.archive}}</a></td>
                    </tr>
                    {% for key,val in plate.plate_info.items %}
                        {% if val != None %}

                                {% if '_image' in key %}
                                <tr>
                                    <th class="info">{{key|to_space}}</th>
                                    <td><a href="{% static val %}">{{val}}</a></td>
                                </tr>

                                {% elif val.value %}
                                <tr>
                                    <th class="info">{{key|to_space}}</th>
                                    <td>{{val.value}} {{val.unit}}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th class="info">{{key|to_space}}</th>
                                    <td>{{val}}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
  
                </table>

                <h2>Observatory Information</h2>

                <table class="table">

                {% for key,val in plate.obs_info.items %}
                    {% if val != None %}
                        {% if val.value %}
                            <tr>
                                <th class="info">{{key|to_space}}</th>
                                <td>{{val.value}} {{val.unit}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th class="info">{{key|to_space}}</th>
                                <td>{{val}}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
         
                {% endfor %}

                </table>

                <h2>Exposures</h2>
                
                <table class="table">
                    <tr>
                        {% for key,val in plate.exposure_info.0.items %}
                            {% if val != None %}
                                
                                
                                {% if key == "ra" or key == "jd2000" %}
                                    <th class="cap_info">{{key|to_space}}</th>
                                {% elif '_deg' not in key %}
                                    <th class="info">{{key|to_space}}</th>    
                                {% elif val.unit %}
   
                                {% endif %}
                            

                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for x in plate.exposure_info %}
                    <tr>
                        {% for key,val in x.items %}
                            {% if val != None %}
                                {% if val.value %}
                                    <td>{{val.value}} {{val.unit}}</td>
                                {% elif val.unit %}

                                {% elif '_deg' not in key %}
                                    <td>{{val}} {{val.value}}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>            
                    {% endfor %}
                </table>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}