/**** full site ****/

/* all CSS for small screens, but if larger screen then....*/
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

    div.newsidebar {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        position:fixed;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 80px);
    }
}

div.topspacing {
    margin-top: 80px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 8;
}

div.mainstuff {
    min-height: calc(100vh - 230px);
}

.centered {
    text-align: center;
}